@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.header {
  grid-area: h;
  background-color: $mainColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .loginBlock {
    a {
      margin-right: 20px;
      text-decoration: none;
    }
    float: right;
    .userMenu {
      display: flex;
      column-gap: 10px;
      cursor: pointer;
      img {
        width: 40px;
        border-radius: 50%;
      }
      .userName {
        @include text(500, 18px, 41px);
        color: white;
      }
      button {
        background-color: white;
        box-shadow: 0 1px 3px 0 rgb(130 36 227 / 50%);
        color: black;
        border: none;
        width: 70px;
        height: 20px;
        border-radius: 30px;
        cursor: pointer;
        background-size: 200%;
        margin-top: 10px;
        margin-right: 10px;
        @include text(500, 12px, 12px);
        &:hover {
          background-image: none;
          transition: 0.5s;
        }
      }
    }
  }
  .loginBlock a {
    color: white;
  }


}


