@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.header {
  grid-area: h;
  background-color: $mainColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .loginBlock {
    float: right;
    .userMenu {
      display: flex;
      column-gap: 10px;
      cursor: pointer;
      img {
        width: 40px;
        border-radius: 50%;
      }
      .userName {
        @include text(500, 18px, 41px);
        color: white;
        margin-right: 30px;
      }
    }
  }
  .loginBlock a {
    color: white;
  }


}


