.nav {
    grid-area: n;
    background-color: orange;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item.active {
    color: gold;
}

.itemSettings {
    margin-top: 20px;
}

.itemFriends {
    margin-top: 45px;
}