.dialogs {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.dialogsItems {
    padding: 20px;
}

.dialog {

}

.dialog.active {
    color: gold;
}

.messagesItems {
    padding: 20px;
}

.message {

}