.dialogs {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.dialogsItems {
    padding: 20px;
}

.dialog img {
    width: 20px;
    border-radius: 25px;
    margin-right: 5px;
}

.dialog.active {
    color: gold;
}

.messagesItems {
    padding: 20px;
}

.message {

}